<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Устав ООО «Ротор»</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="navbar">
    <a href="employee_dashboard?login={{user.login}}">Личный кабинет</a>
    <a href="employees?login={{user.login}}">Список сотрудников</a>
    <a href="routes?login={{user.login}}">Маршруты</a>
    <a href="vehicles?login={{user.login}}">Список ПС</a>
    <a href="submit_route?login={{user.login}}">Маршрутный лист</a>
    <a href="admin_panel?login={{user.login}}">Админ панель</a>
    <a href="charter?login={{user.login}}">Устав</a>
  </div>


  <main class="container">
    <h1>Устав ООО «Ротор»</h1>

    <div class="charter">
      <h2>Глава 1. Общие положения</h2>
      <p>1.1 Устав ООО «Ротор» является основным документом организации.</p>
      <p>1.2 Сотрудник ООО «Ротор» — представитель организации при исполнении своих обязанностей.</p>
      <p>1.3 Администрация ООО «Ротор» не несёт ответственности за действия сотрудников вне территории организации.</p>
      <p>1.4 Администрация ООО «Ротор» имеет право применить меры дисциплинарного воздействия или прекратить
        сотрудничество с сотрудником.</p>
      <p>1.5 Сотрудник обязан бережно относиться к имуществу и технике организации.</p>
      <p>1.6 Сотрудник обязан соблюдать ценности и традиции организации.</p>
      <p>1.7 Сотрудник обязан поддерживать популярность организации при помощи установленных средств общения.</p>
      <p>1.8 Сотрудник ООО «Ротор» заключает договор с администрацией, подтверждая согласие соблюдать настоящий Устав.
      </p>
      <p>1.9 Сотрудник обязан сдавать технику в бокс в исправном состоянии. В случае нарушения, будет составляться акт о
        “Порче подвижного состава”.</p>
      <p>1.10 Сотрудник обязан выполнить не менее 20 кругорейсов по маршрутам предприятия за полумесячный период.</p>
      <p>1.11 При получении трёх выговоров сотрудник подлежит увольнению.</p>
      <p>1.12 Администрация имеет право самостоятельно определять меру наказания в рамках установленного порядка.</p>
      <p>1.13 Сотрудник может менять автобус во время работы, предварительно уведомив диспетчерскую.</p>
      <p>1.14 Сотрудник обязан быть честным и открытым по отношению к руководству организации, предоставлять достоверную
        информацию и воздерживаться от умышленного введения в заблуждение.</p>

      <h2>Глава 2. Запреты</h2>
      <p>2.1 Запрещается использовать технику в личных целях.</p>
      <p>2.2 Техника должна оставляться в гараже организации, за исключением случаев, разрешённых администрацией.</p>
      <p>2.3 Запрещается оскорблять пассажиров.</p>
      <p>2.4 Сотрудник обязан соблюдать правила дорожного движения:</p>
      <ul>
        <li>2.4.1 Нарушение скоростного режима.</li>
        <li>2.4.2 Намеренный пропуск остановок.</li>
        <li>2.4.3 Намеренный проезд на запрещающий сигнал светофора.</li>
        <li>2.4.4 Систематические нарушения ПДД.</li>
      </ul>
      <p>2.5 Сотрудник обязан соблюдать трассу маршрута.</p>
      <p>2.5.1 Вынужденное отклонение от маршрута не наказывается.</p>
      <p>2.6 Сотрудник обязан починить и заправить автобус организации при окончании смены. </p>
      <p>2.7 Сотрудник обязан пройти обучение в Учебном центре до выхода на маршруты.</p>
      <p>2.8 Сотрудник обязан использовать таблички и бинды, прописанные в таблице.</p>
      <p>2.9 Сотрудник обязан уважать личное время коллег и администрации.</p>
      <p>2.10 Запрещается подрезать, таранить и оскорблять коллег из других организаций.</p>
      <p>2.12 Запрещается вести себя неадекватно по отношению к коллегам и администрации.</p>
      <p>2.13 Стажёр обязан повыситься до должности «Водитель III класса» в течение недели.</p>
      <p>2.14 Запрещается разглашать информацию из бесед, таблиц и финансов организации. Также запрещена порча ресурсов,
        принадлежащих организации.</p>

      <h2>Глава 3. Права и обязанности</h2>
      <p>3.1 Сотрудник может состоять во фракции.</p>
      <p>3.2 Сотрудник может сменить рабочий аккаунт.</p>
      <p>3.3 Сотрудник может запрашивать отпуск или отгулы у директора или заместителя директора.</p>
      <p>3.4 Сотрудник имеет право не повышаться в должности (исключение — стажёр).</p>
      <p>3.5 Сотрудник имеет право пожаловаться на коллег администрации.</p>
      <p>3.6 Сотрудник имеет право самостоятельно выбрать автобус для работы.</p>
      <p>3.7 Сотрудник, работающий на транспортном средстве организации, имеет право на компенсацию расходов за топливо
        в размере фактической стоимости заправки.</p>

      <h2>Глава 4. Прочее</h2>
      <p>4.1 Общий счёт находится на балансе организации.</p>
      <p>4.2 Фирменный стиль, маршруты, номера и цветовые обозначения маршрутов ООО «Ротор» являются собственностью
        организации.</p>

      <h2>Глава 5. Дисциплина</h2>
      <p>5.1 В организации действует следующая шкала дисциплинарных мер:<br>
        — Устное предупреждение<br>
        — Штраф<br>
        — Выговор<br>
        — Увольнение</p>
      <p>5.2 Для отработки выговора следует обратиться к руководству.</p>
      <p>5.3 При наличии 1 выговора, сотрудник не получает 25% от общей суммы выплаты зарплаты. А при наличии 2
        выговоров — 50%.</p>

      <h2>Глава 6. Карьера сотрудников</h2>
      <p>6.1 При трудоустройстве сотрудник назначается на должность «Стажёр».</p>
      <p>6.2 В течение одной недели стажёр обязан пройти обучение и быть повышен до должности «Водитель III класса».</p>
      <p>6.3 Для повышения до должности «Водитель II класса» необходимо:<br>
        — выполнить не менее 70 кругорейсов с момента трудоустройства;<br>
        — состоять в организации не менее двух недель.</p>
      <p>6.4 Для повышения до должности «Водитель I класса» необходимо:<br>
        — выполнить не менее 150 кругорейсов с момента трудоустройства;<br>
        — состоять в организации не менее одного месяца;<br>
        — принять участие как минимум в одном мероприятии, проводимом руководством.</p>

      <h2>Глава 7. Фиксация работы</h2>
      <p>7.1 При начале смены сотрудник обязан уведомить диспетчерскую, написав в специальный чат:<br>
        «Говорит (ник), начинаю смену с (время) на маршруте (номер маршрута), б/н (бортовой номер (гос. номер, если нет
        бортового)).»</p>
      <p>7.2 После уведомления сотрудник обязан зафиксировать пробег, сделав скриншот панели F3 с используемым
        автобусом.</p>
      <p>7.3 При завершении смены сотрудник обязан уведомить диспетчерскую, написав:<br>
        «Говорит (ник), закончил смену на маршруте (номер маршрута), б/н (бортовой номер (гос. номер, если нет
        бортового)).»</p>
      <p>7.4 После завершения работы сотрудник обязан зафиксировать пробег, сделав скриншот панели F3 с автобусом, и
        сдать маршрутный лист.</p>
      <p>7.5 В случае заправки автобуса сотрудник обязан приложить информацию о стоимости заправки в маршрутный лист.
      </p>
      <p>7.6. Сотрудник может отклоняться от регламента переговоров, писать в свободной форме. </p>

      <h2>Глава 8. Маршруты</h2>
      <p>8.1 ООО «Ротор» обслуживает 4 маршрута:<br>
        — три городских: № 28, № 35, № 99;<br>
        — один пригородный: № 92п.</p>
      <p>8.2 Стоимость проезда на городских маршрутах составляет 80 рублей.</p>
      <p>8.3 Стоимость проезда на пригородном маршруте составляет 125 рублей.</p>

      <h2>Глава 9. Зарплаты</h2>
      <p>9.1 Информация о начислениях и расчетах заработной платы фиксируется в таблице предприятия.</p>
      <p>9.2 Заработная плата выплачивается по итогам полумесячного периода (с 1 по 15 и с 16 по 30(31) числа месяца).
      </p>
      <p>9.3 Максимальный размер заработной платы одного сотрудника по итогам периода не может превышать 400 000 рублей.
      </p>
    </div>
  </main>
</body>

</html>