<!doctype html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>ROTOR — Вход</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <div class="container">
    <h1>Вход в систему</h1>
    <form class="form-card" action="/login" method="post">
      <label>Ник:<input name="login" required></label>
      <label>Пароль:<input name="password" type="password" required></label>
      <button type="submit">Войти</button>
    </form>
  </div>
</body>

</html>