<!doctype html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>ROTOR — Маршруты</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="navbar">
    <a href="employee_dashboard?login={{user.login}}">Личный кабинет</a>
    <a href="employees?login={{user.login}}">Список сотрудников</a>
    <a href="routes?login={{user.login}}">Маршруты</a>
    <a href="vehicles?login={{user.login}}">Список ПС</a>
    <a href="submit_route?login={{user.login}}">Маршрутный лист</a>
    <a href="admin_panel?login={{user.login}}">Админ панель</a>
    <a href="charter?login={{user.login}}">Устав</a>
  </div>


  <div class="container">
    <h1>Маршруты</h1>
    <div class="routes-grid">
      <div class="tile">
        <img src="route28.jpg" alt="Схема маршрута №28" class="route-img">
        <h3>Маршрут №28</h3>
        <p>Цена проезда: <span class="highlight">80 ₽</span></p>
      </div>

      <div class="tile">
        <img src="route35.jpg" alt="Схема маршрута №35" class="route-img">
        <h3>Маршрут №35</h3>
        <p>Цена проезда: <span class="highlight">80 ₽</span></p>
      </div>

      <div class="tile">
        <img src="route92.jpg" alt="Схема маршрута №29п" class="route-img">
        <h3>Маршрут №92п</h3>
        <p>Цена проезда: <span class="highlight">125 ₽</span></p>
      </div>

      <div class="tile">
        <img src="route99.jpg" alt="Схема маршрута №99" class="route-img">
        <h3>Маршрут №99</h3>
        <p>Цена проезда: <span class="highlight">80 ₽</span></p>
      </div>

      <div class="tile">
        <img src="route8.jpg" alt="Схема маршрута №9" class="route-img">
        <h3>Маршрут №9</h3>
        <p>Цена проезда: <span class="highlight">80 ₽</span></p>
      </div>

      <div class="tile">
        <img src="route10.jpg" alt="Схема маршрута №10" class="route-img">
        <h3>Маршрут №10</h3>
        <p>Цена проезда: <span class="highlight">80 ₽</span></p>
      </div>

      <div class="tile">
        <img src="route15.jpg" alt="Схема маршрута №15" class="route-img">
        <h3>Маршрут №15</h3>
        <p>Цена проезда: <span class="highlight">80 ₽</span></p>
      </div>
    </div>
  </div>
</body>

</html>