<!doctype html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>ROTOR — Маршрутный лист</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="navbar">
    <a href="employee_dashboard?login={{user.login}}">Личный кабинет</a>
    <a href="employees?login={{user.login}}">Список сотрудников</a>
    <a href="routes?login={{user.login}}">Маршруты</a>
    <a href="vehicles?login={{user.login}}">Список ПС</a>
    <a href="submit_route?login={{user.login}}">Маршрутный лист</a>
    <a href="admin_panel?login={{user.login}}">Админ панель</a>
    <a href="charter?login={{user.login}}">Устав</a>
  </div>


  <div class="container">
    <h1>Отправка маршрутного листа</h1>
    <form class="form-card" action="/add_route" method="post">
      <label>Количество кругорейсов:<input type="number" name="routes" required></label>
      <label>Количество пассажиров:<input type="number" name="passengers" required></label>
      <label>Надбавка за бензин:<input type="number" name="fuel_bonus"></label>
      <button type="submit">Отправить</button>
    </form>
  </div>
</body>

</html>